*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
html,body{ height: 100%;}
/*common css start here*/
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4;
    font-family: $font;
    color: $base-color;
    background: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
/*css change*/
ul{margin: 0px; padding: 0px; list-style: none;}
h1, h2, h3, h4{ font-weight: 700;}



/*reset variables*/
.noDisplay{ display: none;}
/* iPad portrait mode */
@media only screen and (min-width: 960px) and (max-width: 1024px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* Mobile layout css */
@media only screen and (max-width: 767px) {
    .container { width: 100%;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}