$font:'HelveticaNowText-Medium',sans-serif; 
$font-bold:'HelveticaNowText-ExtraBold',sans-serif;
$font-italic:'HelveticaNowText-MediumItalic',sans-serif; 

/* color variables */
$black:#000000;
$white:#ffffff;

/*Transition*/
$base-transition: all 0.3s ease-in-out;

